.Home {
  height: fit-content;
  // padding-bottom: 50px;
  // background: #000;
  background: linear-gradient(
    to bottom,
    rgba(0, 87, 138, 0.1),
    rgba(0, 87, 138, 0.05)
  );
  header {
    height: 55vh;
    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;

      h1 {
        padding: 0 50px;

        font-size: 4rem;
        line-height: 1;
        color: var(--ifm-color-primary);
      }

      p {
        margin-top: 20px;
        width: 50%;
        font-size: 1.5rem;
        line-height: 1;
        text-align: center;
        color: #71717a;
      }

      .projects {
        margin-top: 20px;
        color: var(--ifm-color-primary);

        a {
          margin-left: 5px;
        }
      }

      .search {
        width: 100%;
        display: flex;
        margin: 20px 0;

        button {
          width: 150px;
          height: 55px;
          margin-left: 5px;
          border: none;
          border-radius: 5px;
          color: #5e5e5e;
          font-size: 1rem;
          background: var(--ifm-color-primary);
          color: white;
          font-weight: bold;

          &:hover {
            cursor: pointer;
            background: #1170a8;
          }

          &:active {
            opacity: 0.5;
          }
        }
      }

      .button {
        width: fit-content;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border: 0.5px solid #00578a87;
        background: var(--ifm-color-primary);

        &:hover {
          cursor: pointer;
          background: #1170a8;
        }

        &:active {
          opacity: 0.5;
        }
      }

      .stats {
        width: 100%;
        height: 100px;
        margin-top: 100px;
        background: #d6d6d6;
      }
    }
  }

  .Features {
    margin: 50px 0;

    .feature {
      height: 250px;
      background: #ffffff94;
      border-radius: 10px;
      padding: 15px;
      padding: 30px;
      border: 0.5px solid #92929277;
      text-decoration: none;

      display: flex;
      flex-direction: column;

      &:hover {
        cursor: pointer !important;
        border: 1px solid #00578a48 !important;
      }

      .version {
        background: #ffffff;
        color: #1170a8 !important;
        padding: 2px 10px;
        border-radius: 25px;
        border: 0.5px solid #1170a8;
        font-weight: 600;
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        b {
          color: var(--ifm-color-primary);
          font-size: 18px;
        }

        span {
          color: #71717a;
          font-size: 14px;
          background: white;
          font-weight: 700;
          padding: 2px 20px;
          border-radius: 20px;
          border: 0.5px solid #92929277;
        }
      }
      p {
        margin-bottom: 5px;
        color: black;
      }

      .dependencies {
        span {
          background: #f2f2f2;
          border: 0.5px solid #9292922c;
          padding: 4px 10px;
          border-radius: 12px;
          font-size: 0.85rem;
          white-space: nowrap;
          line-height: 20px;
          color: black;
        }
      }

      .stats {
        display: flex;
        align-items: center;

        // margin-top: 10px;
        font-size: small;

        .stat {
          margin-right: 20px;
          display: flex;
          align-items: center;
          // gap: 1px;
          color: var(--ifm-color-primary);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .Home {
    header {
      .container {
        .title {
          font-size: 3rem;
        }

        .sub-title {
          width: 80%;
          font-size: 1rem;
        }
      }
    }
    .Features {
      .sub-section {
        h1 {
          font-size: 1.5rem;
        }
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
